{% extends 'base.html' %}
{% load static %}
{% block title %} | Home {% endblock title %}

{% block content %}

    <section class="chat">
        {% if user.is_authenticated %}

            <div class="container">
                <form class="row g-3">
                    <div class="col-md-6">
                        <label for="inputEmail4" class="form-label">Chat room: </label>
                        <textarea class="form-control" id="chat-text" cols="50" rows="20"></textarea>

                    </div>
                    <div class="col-md-6"><label for="inputEmail4" class="form-label">Type message</label>
                        <textarea class="form-control" id="input" cols="30" rows="10"></textarea>
                    </div>
                    <div class="col-12">
                        <button type="button" class="btn btn-outline-primary" id="submit" value="Send">Send</button>
                    </div>
                </form>

            </div>

        {% else %}

            <p>You are not logged in</p>

        {% endif %}

    </section>

    {{ room_name|json_script:"room-name" }}
    {{ request.user.username|json_script:"user_username" }}

    <script>
        const user_username = JSON.parse(document.getElementById('user_username').textContent);
        const roomName = JSON.parse(document.getElementById('room-name').textContent);

        document.querySelector('#submit').onclick = function (e) {
            const messageInputDom = document.querySelector('#input');
            const message = messageInputDom.value;
            chatSocket.send(JSON.stringify({
                'message': message,
                'username': user_username,
            }));

            messageInputDom.value = '';
        };

        const chatSocket = new WebSocket(
            'ws://' + window.location.host + '/ws/chat/' + roomName + '/');

        chatSocket.onmessage = function (e) {
            const data = JSON.parse(e.data);
            console.log(data)
            document.querySelector('#chat-text').value += (data.username + ': ' + data.message + '\n')

        }
    </script>

{% endblock content %}